@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Mohave", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2 {
  font-family: "Zen Antique", sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%
}

button, img {
  user-select: none;
}

p {
  line-height: 1.8;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
}

.home .overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh + 1px);
  text-align: center;
}
@media (min-width: 768px) {
  .home {
    background: url("../src/starter-code/assets/home/background-home-desktop.jpg") no-repeat center/cover;
  }
}

@media (min-width: 1024px) {
  .home .overlay {
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem; */
    flex-direction: row;
    text-align: left;
    max-width: 1000px;    
  }
}


